/*#map { 
    height: 400px;
    width: 600px;
}*/
.map {
    position: relative;
    top: 0;
    left: 0;
  }
.unitedstates{
    position: relative;
    top: 0;
    left: 0;
  }
.arizona {
    position: absolute;
    top: 791px;
    left: 749px;
    border: 1px red solid;
  }
.alaska {
    position: absolute;
    top: 1198px;
    left: 235px;
    border: 1px green solid;
  }