/*#map { 
    height: 400px;
    width: 600px;
}*/
.map {
    position: relative;
    top: 0;
    left: 0;
  }
#unitedstates{
    position: relative;
    top: 0;
    left: 0;
  }
#arizona {
    position: absolute;
    top: 800px;
    left: 750px;
    border: 1px red solid;
  }
#alaska {
    position: absolute;
    top: 1220px;
    left: 225px;
    border: 1px green solid;
  }