/*#map { 
    height: 400px;
    width: 600px;
}*/
.map {
    position: relative;
    top: 0;
    left: 0;
  }
.unitedstates{
    position: relative;
    top: 0;
    left: 0;
  }
  .arizona {
    position: absolute;
    top: 950px;
    left: 600px;
    border: 1px red solid;
  }
  .alaska {
    position: absolute;
    top: 1200px;
    left: 220px;
    border: 1px green solid;
  }